body {
  background: #2d3747;
  color: #e1e1da;
  font-family: "Playfair Display", serif;
  font-size: 20px;
  margin: 0 auto 8em;
  max-width: 120ch;
}

a {
  color: #dbbc66;
  text-decoration: none;
}

a:hover {
  color: #d97128;
}

header {
  font-size: 1.1em;
}

section {
  max-width: 60em;
}

section#intro {
  font-size: 1.1em;
  margin: 1em 4em;
  max-width: 42em;
}

header h1,
header .tagline {
  text-align: center;
}

header h1 {
  color: #ffad29;
  margin-bottom: 0.3ex;
}

header .tagline {
  align-items: center;
  color: #06ede1;
  display: flex;
  font-size: 1.35em;
  font-style: italic;
  font-weight: normal;
  margin-top: 0.3ex;
  justify-content: center;
}

header .tagline::before,
header .tagline::after {
  content: "—";
}

.vcard {
  float: right;
  padding-left: 2em;
  position: relative;
  z-index: 1;
}

.vcard img {
  border: 3px solid #e1e1da;
  border-radius: 2em;
}

.vcard a {
  color: inherit;
}

dl {
  margin: 1em 2em;
}
dt {
  color: #ffad29;
  font-weight: bold;
}

h2 {
  margin: 1em;
  color: #06ede1;
}

li {
  list-style: none;
  position: relative;
}
li li {
  font-size: 0.95em;
}
li li li {
  font-size: 0.9em;
}
li::before {
  content: "•";
  color: #ffad29;
  display: block;
  position: absolute;
  left: -1.1ex;
  top: -0.833ex;
  font-size: 2em;
}
li li::before {
  content: "–";
}
li li li::before {
  content: "⋅";
  left: -0.75ex;
  top: -0.725ex;
}

footer {
  margin-top: 3em;
}

@media only screen and (max-width: 1023px) {
  .vcard img {
    width: 320px;
  }
}

@media only screen and (max-width: 860px) {
  .vcard {
    max-width: 280px;
    margin: 0 auto;
    padding: 0;
  }
  .vcard img {
    width: 280px;
  }
}

@media only screen and (max-width: 760px) {
  body {
    display: flex;
    flex-flow: column;
  }
  .tagline {
    text-align: center;
  }
  header {
    order: 1;
  }
  .vcard {
    order: 2;
    float: none;
    text-align: center;
  }
  section {
    order: 3;
  }
  dl,
  dt,
  dd {
    margin: 0;
  }
  dd + dt {
    margin-top: 1em;
  }
}

@media only screen and (max-width: 520px) {
  header h1 {
    font-size: 1.5em;
  }
  header .tagline {
    font-size: 1.1em;
  }
  section#intro {
    margin: 0.5ex;
  }
}

@media not print {
  footer .print {
    display: none;
  }
}

@media print {
  body {
    font-size: 12pt;
    color: black;
  }

  header h1,
  header .tagline,
  h2,
  dt,
  li::before {
    color: black;
  }

  a[href^="http"] {
    color: #ccc;
    border-bottom: 1px dotted #ccc;
  }

  header {
    margin: 1em 0.5ex;
  }

  header .tagline::before,
  header .tagline::after {
    content: "";
  }

  .vcard {
    width: 60.25mm;
    font-size: 10pt;
  }

  .vcard img {
    width: 52.5mm;
    height: 52.5mm;
    border-color: black;
  }
}
